.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
### Ignore ###

/Servers/
/settings/
/target

## 오라클 버전차이로 인한 각 버전의 오라클 정보
db.properties
pom.properties

.settings/
target/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.project
*.classpath

/.project
/*.project
/.classpath
/*.classpath

/*.settings/
.settings/
bin/
assets/
build/
.metadata/
