@charset "UTF-8";

	body, html {
	    padding: 0;
	    height: 100%;
    }
	
	.bgimg {
	    border: 0;
	    padding: 0; 
	    height: 100vh;
        max-width: 100vw;
	    background-image: url("../../resources/images/5205447.jpg");
	    background-position: center;
	    background-size: cover;
        background-repeat : no-repeat;
	}
	
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
	
    #HeadLine {
        text-align: center;
    }
    
    #halfspaceLogo {
    	margin-top : 100px;
    	width : 500px;
    }
    
	.nav-link {
		margin-top : -20px;
		color : white;
		display: flex;
		justify-content: center;
		align-items: center;
  		min-height: 65vh;
  	}
  	
  	.footer {
  		text-align : center;
  	}
	