@charset "UTF-8";

	body, html {
	    padding: 0;
	    height: 100%;
    }
	
	.bgimg {
	    border: 0;
	    padding: 0; 
	    height: 100vh;
        max-width: 100vw;
	    background-image: url("../../resources/images/5205447.jpg");
	    background-position: center;
	    background-size: cover;
        background-repeat : no-repeat;
	}
	
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    
    #HeadLine {
        text-align: center;
	    display: grid;
	    place-items: center;
    }
    
    
    #halfspaceLogo {
    	width : 400px;
	    text-align: center;
	    font-family: system-ui, serif;
	    font-size: 2rem;
	    padding: 3rem;
	    border-radius: 1rem;
	    margin-top: 20%;
    }

	