@charset "UTF-8";
    
    #uploadResult {
		width:100%;
		background-color: aqua;
	}
	
	#uploadResult ul {
		display : flex;
		flex-flow : row;
		justify-content : center;
		align-items : center;
	}
	#uploadResult ul li {
		list-style : none;
		padding: 10px;
		align-content : center;
		text-align : center;
	}
	#uploadResult ul li img {
		width : 100px;
	}
	
	
	
/*

*********************************************
*********************************************
*********************************************
*********************************************

*/	
	

	.container{
		padding: 20px;
    	font-family: "sbaggro","nucleo-icons";
    	max-width: 800px;
	    position: relative;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	}
	
	h1{
		color: #244875;
	}
	
	a {
	     color : #1a1a1a;
	     text-decoration-line : none;
	}
	  
	 #btn-filed, #searchBtn {
        display: inline-block;
        padding: 4px 8px 1px;
        background-color:#3678f1; 
        color: whitesmoke;
        border-radius: 20px;
        text-align: center;
        line-height: 100%;
        font-family: "sbaggro","nucleo-icons";
    	font-weight: lighter;
    }
	
	.page-link {
		color: #244875;
	}
	
	th {
		color: #2FB34B;
	}
	
	body {
	    -webkit-text-size-adjust: 100%;
	    -webkit-tap-highlight-color: transparent;
	    --animate-duration: 1s;
	    --animate-delay: 1s;
	    --animate-repeat: 1;
	    --blue: #007bff;
	    --indigo: #6610f2;
	    --purple: #6f42c1;
	    --pink: #e83e8c;
	    --red: #dc3545;
	    --orange: #fd7e14;
	    --yellow: #ffc107;
	    --green: #28a745;
	    --teal: #20c997;
	    --cyan: #17a2b8;
	    --white: #fff;
	    --gray: #6c757d;
	    --gray-dark: #343a40;
	    --primary: #007bff;
	    --secondary: #6c757d;
	    --success: #28a745;
	    --info: #17a2b8;
	    --warning: #ffc107;
	    --danger: #dc3545;
	    --light: #f8f9fa;
	    --dark: #343a40;
	    --breakpoint-xs: 0;
	    --breakpoint-sm: 576px;
	    --breakpoint-md: 768px;
	    --breakpoint-lg: 992px;
	    --breakpoint-xl: 1200px;
	    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	    box-sizing: border-box;
	    margin: 0;
	    font-weight: 400;
	    line-height: 1.5;
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    font-family: 'Poppins', sans-serif;
	    background: white;
	    height: 100%;
	    
	}

	.navi-container {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    padding-top: 1rem;
	}
	
	.menu-container {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    margin: 0;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    padding-top: 1rem;
	    border-bottom: 1px solid #ddd;
	}
	
	.navi-content {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 16px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    display: flex;
	    justify-content: space-around;
	    max-width: 800px;
	    margin: auto;
	}
	
	p {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	
	.footer {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    background-color: #1a1a1a;
	    bottom: 0;
	}
	
	.footer-container {
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    max-width: 600px;
	    margin: auto;
	    text-align: center;
	    padding-top: 35px;
	}
	
	.mt-3 {
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    box-sizing: border-box;
	    margin-top: 1rem!important;
	    margin: 0;
	    color: whitesmoke;
	    font-weight: 300;
	    font-family: "sbaggro";
	    font-size: 12px;
	}
	
	.copyright {
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    box-sizing: border-box;
	    margin: 0;
	    color: whitesmoke;
	    font-weight: 300;
	    font-family: "sbaggro";
	    font-size: 12px;
	}
	
	#sidebar {
	    text-align: left;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    z-index: 1001;
	    background: white;
	    color: black;
	    transition: all 0.3s;
	    overflow: scroll !important;
	    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	    border-top-left-radius: 30px 40px;
	    border-bottom-left-radius: 30px 40px;
	    padding: 30px 20px;
	    width: 300px;
	    right: -300px;
	}
	
	#sidebar.active {
    	right: 0;
	}
	
	#sidebar2 {
	    text-align: left;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    z-index: 1001;
	    background: white;
	    color: black;
	    transition: all 0.3s;
	    overflow: scroll !important;
	    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	    border-top-left-radius: 30px 40px;
	    border-bottom-left-radius: 30px 40px;
	    padding: 30px 20px;
	    width: 300px;
	    right: -300px;
	}
	
	#sidebar2.active {
    	right: 0;
	}
	
	.overlay.active {
	    display: block;
	    opacity: 1;
	}
	
	.overlay {
	    display: none;
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.4);
	    z-index: 998;
	    opacity: 0;
	    transition: all 0.5s ease-in-out;
	    top: 0;
	}
	
	.text-center {
	    text-align: center!important;
	}
	
	.list-group-flush {
	    border-radius: 0;
	}
	
	.list-group {
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    padding-left: 0;
	    margin-bottom: 0;
	    border-radius: 0.25rem;
	}
	
	section {
	    display: block;
	}
	
	.sidebar-body .menu-wrap {
	    padding: 15px 10px;
	    border-bottom: 1px solid #f2f2f2;
	}
	
	.sidebar-body .menu-wrap a {
	    display: block;
	    padding: 5px 0;
	}
	
	.sidebar-body .menu-wrap img {
	    width: 15px;
	    margin-right: 10px;
	}
	
	#btn-join-wrap {
	    z-index: 100;
	    position: sticky;
	}
	
	.py-3 {
	    padding-bottom: 1rem!important;
	}
	
	.py-3 {
	    padding-top: 1rem!important;
	}
	
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	    width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	
	#btn-join {
	    border: none;
	    padding: 20px 40px;
	    border-radius: 50px;
	    background-color: #a9d4ff;
	    color: #0074ff;
	    z-index: 50;
	}
	
	#btn-join h5 {
	    font-size: 21px;
	    font-weight: normal;
	}
	
	#btn-join small {
	    font-size: 13px;
	}
	
	::after, ::before {
	    box-sizing: border-box;
	}
	
	.ml-3 {
	    margin-left: 1rem!important;
	}
			
	#nav_pill_btn1 {
		margin-right: +5px;
	}

	.img-container {
		height: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.img-slider {
	    max-height: 100%;
	    max-width: 100%;
	    display: block;
	}
	
	.w-100 {
	    width: 100%!important;
	    max-width: 515px;
	    text-align: center;
	    position: relative;
	    margin: auto;
	}
	
	.selectpicker {
		font-family: "sbaggro","nucleo-icons";
    	height: 35px;
		width: 100px;
	}
	
	option {
	    font-weight: lighter;
	    display: block;
	    white-space: nowrap;
	    min-height: 1.2em;
	    padding: 0px 2px 1px;
	}
	
	.navi-container .menu-container .navi-content a.active {
	    border-bottom: 3px solid rgba(30,30,30,.97);
	    font-weight: normal;
	}
	
	.header-wrap h2 {
	    font-weight: normal;
	    text-align : center;
	}
	
	.header-wrap {
	    justify-content: space-between;
	    align-items: center;
	    text-align:left;
	    padding: 15px 15px 15px 15px;
	}
	
	p.parking-wrap small {
	    padding-left: 7px;
	    position: relative;
	    display: inline-block;
	    font-weight: lighter;
	}
	
	p small {
	    color: #212120;
	}
	
	p.parking-wrap small[data-gender="3"]::before {
	    background-color: #6d00e0;
	}
	
	p.parking-wrap small[data-gender]::before {
	    content: "";
	    position: absolute;
	    display: block;
	    width: 5px;
	    height: 5px;
	    border-radius: 50%;
	    left: 0px;
	    top: 3.4px;
	}
	
	p.parking-wrap small::before {
	    content: "·";
	    position: absolute;
	    display: block;
	    left: 2px;
	}
	
	*, ::after, ::before {
	    box-sizing: border-box;
	}
	
	.row {
	    --bs-gutter-x: 1.5rem;
	    --bs-gutter-y: 0;
	    display: flex;
	    flex-wrap: wrap;
	    margin-top: calc(-1 * var(--bs-gutter-y));
	    margin-right: calc(-.5 * var(--bs-gutter-x));
	    margin-left: calc(-.5 * var(--bs-gutter-x));
	}
	
	.root-container {
	    max-width: 800px;
	    position: relative;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	    border-bottom: 1px solid #f2f2f2;
    	padding-bottom: 15px;
	}
	
	.row > * {
	    flex-shrink: 0;
	    width: 100%;
	    padding-right: calc(var(--bs-gutter-x) * .5);
	    padding-left: calc(var(--bs-gutter-x) * .5);
	    margin-top: var(--bs-gutter-y);
	}
	
	.img-container {
		height: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.img-slider {
	    max-height: 100%;
	    max-width: 100%;
	    display: block;
	}
	
	.profile img {
	    width: 3.375rem;
	    height: 3.375rem;
	    display: block;
	    border-radius: 50%;
	    object-fit: cover;
	}
	
	.gameContent {
		text-align:left;
		font-weight: lighter;
	}
	
	strong.game-badge {
	    font-size: 20px;
	    transform: scale(0.8);
	    border-radius: 20px;
	    padding: 3px 9px 1px;
	    color: #fff;
	    font-weight: lighter;
	    margin-left: -3px;
	}
	
	strong.game-badge[data-game=rank] {
	    background-color: #a341f9;
	}
	
	p.parking-wrap strong {
	    position: relative;
	    display: inline-block;
	    font-weight: normal;
	}
	
	.ground-wrap p strong {
	    color: #212120;
	}
	
	.ground-wrap {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	    margin: 1rem auto;
	    border-bottom: 1px solid #f2f2f2;
	    padding-bottom: 10px;
	}
	
	h3 {
	    margin-top: 0.5rem;
	    margin-bottom: 0.5rem;
	    font-weight: lighter;
	    line-height: 1.2;
	}
	
	.pl {
		font-weight: lighter;
	}
	
	.profile-info {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	    margin: 1rem auto;
	    border-bottom: 1px solid #f2f2f2;
	    padding-bottom: 10px;
	}
	