<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위의 스키마 작성 후, 어떤 인터페이스의 메서드를 쿼리문과 
연결해 줄지 아래와 같이 인터페이스 파일부터 mapper태그로 연결합니다. -->
<mapper namespace="com.halfspace.mapper.CafeListMapper">
	
	<!-- 변수명과 컬럼명이 달라도 매핑시켜주는 resultMap 처리 -->
	<resultMap type="com.halfspace.persistence.CafeListVO" id="CafeListMap">
		 <id property="cafeAddress" column="cafe_address"/>	
		 <result property="cafeNo" column="cafeno"/>
		 <result property="cafeMaster" column="cafemaster"/>
		 <result property="regDate" column="cafe_regdate"/>
	</resultMap>
		
	<select id="getList" resultMap="CafeListMap">
		SELECT * FROM Cafelist_tbl
	</select>
	
	<!-- 카페 목록 추가 -->
	<insert id="insert">
		INSERT INTO cafelist_tbl(cafeno, cafe_address, cafemaster)
        	VALUES (cafelist_num.nextval, #{cafeAddress}, #{cafeMaster})
	</insert>

	<update id="createTable">
        CREATE TABLE BOARDTBL${cafeNo} (
       	    bno number(10,0),
		    title varchar2(50) not null,
		    writer varchar2(50) not null,
		    content varchar2(2000) not null,
		    image varchar2(200),
		    regdate date default sysdate,
		    updatedate date default sysdate,
		    hit number(10,0) default 0, 
		    CONSTRAINT pk_board_${cafeNo} PRIMARY KEY(bno)
        ) 
	</update>
</mapper>