<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.halfspace.mapper.CommentMapper">

	<select id="getList" resultType="com.halfspace.persistence.CommentVO">
		SELECT * FROM comment_tbl
			WHERE pono = #{pono}
		ORDER BY cno DESC
	</select>
	
	<insert id="create">
		INSERT INTO comment_tbl
		(cno, pono, user_id, c_content)
			VALUES
		(comment_num.nextval, #{pono}, #{user_id}, #{c_content})
	</insert>
	
	<update id="update">
		UPDATE comment_tbl
			SET
		c_content = #{c_content}, updateDate = SYSDATE
		WHERE cno = #{cno}
	</update>
	
	<delete id="delete">
		DELETE FROM comment_tbl
			WHERE cno = #{cno}
	</delete>

</mapper>