<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfspace.mapper.LeagueMapper">

	<sql id = "tree">
		<![CDATA[
     	SELECT tno FROM
      		(
      		SELECT tno, RANK() OVER(PARTITION BY round ORDER BY points) AS points_RANK 
          		FROM league_tbl
          	WHERE round = #{round} AND rownum < 3
      		)
		]]>
	</sql>


	<select id="detail" resultType="com.halfspace.persistence.LeagueVO">
		SELECT * FROM league_tbl WHERE tno = #{tno}
	</select>
	
	<insert id="insert">
		INSERT INTO 
			league_tbl
		(tno, name, won, draw, loss, played, gf, ga, gd, points, round) 
			VALUES 
		(#{tno}, #{name}, 0, 0, 0, 0, 0, 0, 0, 0, #{round}) 
	</insert>	
 	
 	<update id="update">
 		UPDATE league_tbl
 			SET
 		won = #{won}, draw = #{draw}, played = 1, 
 		GF = #{GF}, GA = #{GA}, GD = #{GD}, points = #{points}
 			WHERE tno = #{tno}
 	</update>
 	
 	<update id="round16Tree">
 		UPDATE 
    		league_tbl
    	SET 
    		round = '16강'
    	WHERE 
    		tno IN
    		(
			<include refid="tree"></include>
    		)
 	</update>
 	
 	
 	
 	
 	<!-- 
 	<update id="quarterFinalTree">
 		UPDATE 
    		league_tbl
    	SET 
    		round = '8강'
    	WHERE 
    		tno IN
    		(
			<include refid="tree"></include>
    		) 		
 	
 	</update>
 	
 	<update id="semiFinalTree">
 		UPDATE 
    		league_tbl
    	SET 
    		round = '4강'
    	WHERE 
    		tno IN
    		(
			<include refid="tree"></include>
    		) 	
 	</update>
 	
 	<update id="theFinal">
 		UPDATE 
    		league_tbl
    	SET 
    		round = '결승'
    	WHERE 
    		tno IN
    		(
			<include refid="tree"></include>
    		) 	
 	</update> 	
	 -->
	 
	 
</mapper>