<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfspace.mapper.PostMapper">

	<sql id = "search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				(TITLE like '%'|| #{keyword} || '%') AND
			</if>
			<if test="searchType == 'c'.toString()">
				(CONTENT like '%' || #{keyword} || '%') AND
			</if>
			<if test="searchType == 'w'.toString()">
				(WRITER like '%' || #{keyword} || '%') AND
			</if>
			<if test="searchType == 'ca'.toString()">
				(CATEGO like '%' || #{keyword} || '%')  AND
			</if>
			<if test="searchType == 'tcwca'.toString()">
				((TITLE like '%' || #{keyword} || '%')
					OR
				(CONTENT like '%' || #{keyword} || '%')
					OR
				(WRITER like '%' || #{keyword} || '%')
					OR
				(CATEGO like '%' || #{keyword} || '%'))
					AND
			</if>
		</if>
	</sql>
	
	<select id="getList" resultType="com.halfspace.persistence.PostVO">
	
		<![CDATA[
		SELECT * FROM
			(SELECT 
			/*+ INDEX_DESC(post_tbl pk_post) */
			rownum rn, post_tbl.* FROM post_tbl
				WHERE 
				
		]]>
		
		<include refid="search"></include>
		
		<![CDATA[		
			rownum <=(${page} * 10))
			WHERE rn > (${page} - 1) * 10
		]]>
	</select>
	
	
	<!-- pono를 미리 알 수 있도록 select key 설정 -->
	<insert id="insert">
		<selectKey keyProperty="pono" resultType="long" order="BEFORE">
			SELECT post_num.nextval FROM dual
		</selectKey>
		INSERT INTO post_tbl (pono, title, content, writer, catego)
			VALUES
		(#{pono}, #{title}, #{content}, #{writer}, #{catego})
	</insert>
	
	<delete id="delete">
		DELETE FROM post_tbl WHERE pono = #{pono}
	</delete>
	
	<update id="update">
		UPDATE post_tbl 
			SET 
		title=#{title}, content=#{content}, 
		writer=#{writer}, catego=#{catego}, updatedate=SYSDATE
			WHERE pono = #{pono}
	</update>
	
	<select id="getDetail" resultType="com.halfspace.persistence.PostVO">
		SELECT * FROM post_tbl WHERE pono = #{pono}
	</select>

	<select id="getPostCount" resultType="long">
		
			SELECT COUNT(*) FROM post_tbl WHERE
	
			<include refid="search"></include>
			
			pono > 0
	</select>
	
	<update id="updateCommentCnt">
		UPDATE post_tbl
			SET
		commentCnt = commentCnt + #{amount} WHERE pono = #{pono}
	</update>
	
	<select id="getInfoList" resultType="com.halfspace.persistence.PostVO">
		SELECT * FROM post_tbl WHERE catego = '공지'
	</select>

	<update id="hit">
		UPDATE post_tbl SET hit = hit+1 WHERE pono = #{pono}
	</update>
	
</mapper>