<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfspace.mapper.TeamMapper">

	<select id="teamDetail" resultType="com.halfspace.persistence.TeamVO">
		SELECT * FROM team_tbl WHERE team_no = #{teamNum}
	</select>
	
	<insert id="teamCreate">
		INSERT INTO team_tbl
		(team_no, team_name, team_logo, coach, team_info)
			VALUES
		(team_num.nextval, #{teamName}, #{teamLogo}, #{coach}, #{teamInfo})
	</insert>
 	
 	<update id="teamUpdate">
 		UPDATE team_tbl
 			SET
 		team_name = #{teamName}, team_logo = #{teamLogo}, coach = #{coach}, team_info = #{teamInfo}
 			WHERE team_no = #{teamNum}
 	</update>
 	
 	<delete id="teamDelete">
 		DELETE FROM team_tbl
 			WHERE team_no = #{teamNum}
 	</delete>

</mapper>