@charset "UTF-8";

	#modDiv {
		width: 300px;
		height: 100px;
		background-color: #434343;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -150px;
		padding: 10px;
		z-index: 1000;
		border-radius: 20px;
		font-family: "sbaggro","nucleo-icons";
    	font-weight: lighter;
	}
	
	#comModBtn {
		background-color: #bbbbbb;
		color: #434343;
		border-radius: 10px;
	}
	
	#comDelBtn {
		background-color: #bbbbbb;
		color: #434343;
	}
	
	#comText {
		margin-bottom: 10px;
	}