@charset "UTF-8";

	.root-container {
	    max-width: 800px;
	    position: relative;
	    width: 100%;
	    margin: auto;
	}
	
	div {
	    display: block;
	}
	
	.top-player-container .player-content {
		background-image: url();
	    background-color: #1a1a1a;
	    background-size: 900px;
	    background-position: center;
	}
	
	.top-player-container * {
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	}
	
	.top-player-container .body-content {
	    display: flex;
	    justify-content: center;
	    padding-bottom: 20px;
	    text-align: center;
	    position: relative;
	}
	
	.top-player-container * {
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	}
	
	h1{color: #244875;}
	
	a {
	     color : #48734A;
	     text-decoration-line : none;
	  }
    
    .my.pagination > .active > a, 
	.my.pagination > .active > span, 
	.my.pagination > .active > a:hover, 
	.my.pagination > .active > span:hover, 
	.my.pagination > .active > a:focus, 
	.my.pagination > .active > span:focus {
	  background: #ffc0cb;
	  border-color: #ffc0cb;
	}
	
	table{
		color :  #48734A; 
		background-color: #DAF9D9;
	}
	
	.page-link {
		color: #ffc0cb;
	}
	
	.my {
		padding-top: 20px;
	}
	
	th {
		color: #2FB34B;
	}

	/*메인화면 구성, header부분*/

	.container{
		padding: 20px;
    	font-family: "sbaggro","nucleo-icons";
    	max-width: 800px;
	    position: relative;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	}
	
	h1{
		color: #244875;
	}
	
	a {
	     color : #1a1a1a;
	     text-decoration-line : none;
	}
	  
	 #btn-filed, #searchBtn {
        display: inline-block;
        padding: 4px 8px 1px;
        background-color:#3678f1; 
        color: whitesmoke;
        border-radius: 20px;
        text-align: center;
        line-height: 100%;
        font-family: "sbaggro","nucleo-icons";
    	font-weight: lighter;
    }
	
	th {
		color: #2FB34B;
	}
	
	body {
	    -webkit-text-size-adjust: 100%;
	    -webkit-tap-highlight-color: transparent;
	    --animate-duration: 1s;
	    --animate-delay: 1s;
	    --animate-repeat: 1;
	    --blue: #007bff;
	    --indigo: #6610f2;
	    --purple: #6f42c1;
	    --pink: #e83e8c;
	    --red: #dc3545;
	    --orange: #fd7e14;
	    --yellow: #ffc107;
	    --green: #28a745;
	    --teal: #20c997;
	    --cyan: #17a2b8;
	    --white: #fff;
	    --gray: #6c757d;
	    --gray-dark: #343a40;
	    --primary: #007bff;
	    --secondary: #6c757d;
	    --success: #28a745;
	    --info: #17a2b8;
	    --warning: #ffc107;
	    --danger: #dc3545;
	    --light: #f8f9fa;
	    --dark: #343a40;
	    --breakpoint-xs: 0;
	    --breakpoint-sm: 576px;
	    --breakpoint-md: 768px;
	    --breakpoint-lg: 992px;
	    --breakpoint-xl: 1200px;
	    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	    box-sizing: border-box;
	    margin: 0;
	    font-weight: 400;
	    line-height: 1.5;
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    font-family: 'Poppins', sans-serif;
	    background: white;
	    height: 100%;
	    
	}

	.navi-container {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    padding-top: 1rem;
	}
	
	.menu-container {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    margin: 0;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    padding-top: 1rem;
	    border-bottom: 1px solid #ddd;
	}
	
	.navi-content {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 16px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    display: flex;
	    justify-content: space-around;
	    max-width: 800px;
	    margin: auto;
	}
	
	p {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	
	.ml-3 {
	    margin-left: 1rem!important;
	}

	/*footer 부분*/

	.footer {
	    text-align: left;
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    background-color: #1a1a1a;
	    bottom: 0;
	}
	
	.footer-container {
	    color: #1a1a1a;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    max-width: 600px;
	    margin: auto;
	    text-align: center;
	    padding-top: 35px;
	}
	
	.mt-3 {
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    box-sizing: border-box;
	    margin-top: 1rem!important;
	    margin: 0;
	    color: whitesmoke;
	    font-weight: 300;
	    font-family: "sbaggro";
	    font-size: 12px;
	}
	
	.copyright {
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    box-sizing: border-box;
	    margin: 0;
	    color: whitesmoke;
	    font-weight: 300;
	    font-family: "sbaggro";
	    font-size: 12px;
	}

	/*사이드바 부분*/

	#sidebar {
	    text-align: left;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    z-index: 1001;
	    background: white;
	    color: black;
	    transition: all 0.3s;
	    overflow: scroll !important;
	    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	    border-top-left-radius: 30px 40px;
	    border-bottom-left-radius: 30px 40px;
	    padding: 30px 20px;
	    width: 300px;
	    right: -300px;
	}
	
	#sidebar.active {
    	right: 0;
	}
	
	#sidebar2 {
	    text-align: left;
	    font-size: 14px;
	    -webkit-font-smoothing: antialiased;
	    box-sizing: border-box;
	    display: block;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	    margin: 0;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    height: 100%;
	    z-index: 1001;
	    background: white;
	    color: black;
	    transition: all 0.3s;
	    overflow: scroll !important;
	    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	    border-top-left-radius: 30px 40px;
	    border-bottom-left-radius: 30px 40px;
	    padding: 30px 20px;
	    width: 300px;
	    right: -300px;
	}
	
	#sidebar2.active {
    	right: 0;
	}
	
	.overlay.active {
	    display: block;
	    opacity: 1;
	}
	
	.overlay {
	    display: none;
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.4);
	    z-index: 998;
	    opacity: 0;
	    transition: all 0.5s ease-in-out;
	    top: 0;
	}
	
	.text-center {
	    text-align: center!important;
	}
	
	.navi-container .menu-container .navi-content a.active {
	    border-bottom: 3px solid rgba(30,30,30,.97);
	    font-weight: normal;
	}
	
	.sidebar-body .menu-wrap img {
	    width: 15px;
	    margin-right: 10px;
	    vertical-align: middle;
	}
	
	.sidebar-body .menu-wrap {
	    padding: 15px 10px;
	    border-bottom: 1px solid #f2f2f2;
	}
	
	.header-wrap {
	    justify-content: space-between;
	    align-items: center;
	    text-align: left;
	    padding: 15px 15px 15px 15px;
	}
	
	.px-4 {
	    padding-right: 1.5rem!important;
	    padding-left: 1.5rem!important;
	    text-align: center;
	}
	
	.row > * {
	    flex-shrink: 0;
	    width: 100%;
	    max-width: 100%;
	    padding-right: calc(var(--bs-gutter-x) * .5);
	    padding-left: calc(var(--bs-gutter-x) * .5);
	    margin-top: var(--bs-gutter-y);
	}
	
	.selectpicker {
	    font-family: "sbaggro","nucleo-icons";
	    height: 35px;
	    width: 100px;
	}
	
	#keywordInput {
	    margin: 0;
	    height: 35px;
	    width: 180px;
	    font-family: "sbaggro","nucleo-icons";
	    font-size: inherit;
	    line-height: inherit;
	    font-weight: lighter;
	}
	
	*, ::after, ::before {
	    box-sizing: border-box;
	}
	
	#btn-filed {
	    display: inline-block;
	    padding: 10px 10px;
	    background-color: #E3F5F6;
	    color: black;
	    border-radius: 20px;
	    text-align: center;
	    line-height: 100%;
	    font-family: "sbaggro","nucleo-icons";
	    font-weight: lighter;
	}
	
	.my {
	    padding-top: 20px;
	    font-weight: lighter;
	}
	
	.w-100 {
	    width: 100%!important;
	    max-width: 515px;
	    text-align: center;
	    position: relative;
	    margin: auto;
	}
	
	.time-wrap img {
	    width: 3.375rem;
	    height: 3.375rem;
	    display: block;
	    border-radius: 50%;
	    object-fit: cover;
	}
	
	.list-group {
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    padding-left: 0;
	    margin-bottom: 10px;
	    border-radius: 0.25rem;
	}
	
	.list-group-flush {
	    border-radius: 0;
	}
	
	.text-center {
	    text-align: center!important;
	}
	
	li.list-group-item {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border: none;
	    cursor: pointer;
	    border-bottom: 1px solid #f2f2f2;
	    padding: 10px;
	}
	
	.time-wrap {
	    width: 60px;
	    text-align: center;
	}
	
	.match-wrap {
	    display: flex;
	    flex: 1;
	    text-align: left;
	    padding: 0 20px;
	}
	
	.match-wrap .ground-wrap {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	}
	
	.match-wrap .ground-wrap small.game-badge[data-game=rank] {
    	background-color: #1AAB4F;
	}
	
	.match-wrap .ground-wrap small.game-badge {
	    font-size: 10px;
	    transform: scale(0.8);
	    border-radius: 10px;
	    padding: 3px 9px 1px;
	    color: #fff;
	    font-weight: normal;
	    margin-left: -3px;
	}
	
	.match-wrap .ground-wrap p {
	    padding-left: 10px;
	    width: 500px;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	
	.match-wrap .ground-wrap p strong.ground-name {
	    font-size: 13px;
	}
	
	.match-wrap .ground-wrap p.parking-wrap small {
	    padding-left: 7px;
	    position: relative;
	    display: inline-block;
	    font-weight: lighter;
	}
	
	.match-wrap .ground-wrap p small {
	    color: #212120;
	}
	
	
	.match-wrap .ground-wrap p.parking-wrap small[data-gender]::before {
	    content: "";
	    position: absolute;
	    display: block;
	    width: 5px;
	    height: 5px;
	    border-radius: 50%;
	    left: 0px;
	    top: 3.4px;
	}
	
	.match-wrap .ground-wrap p.parking-wrap small[data-gender="3"]::before {
	    background-color: #1AED41;
	}
	
	.match-wrap .ground-wrap p.parking-wrap small::before {
	    content: "·";
	    position: absolute;
	    display: block;
	    left: 2px;
	}
	
	::after, ::before {
	    box-sizing: border-box;
	}
	
	.apply-wrap[data-status=full] {
	    background-color: #f2f2f2;
	    color: #9a9a9a;
	}
	
	.apply-wrap {
	    width: 80px;
	    padding: 14px 0 12px;
	    border-radius: 5px;
	    position: relative;
	}
	
	.apply-wrap[data-status=full] p {
	    word-spacing: 15px;
	}
	
	.apply-wrap p {
	    font-size: 15px;
	}
	
	.apply-wrap span {
	    position: absolute;
	    background-image: url(../../resources/images/badge_hit.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    top: -20px;
	    right: -16px;
	    font-size: 10px;
	    padding: 13px 13px 10px 13px;
	    line-height: 1;
	    font-weight: normal;
	    transform: scale(0.7);
	    color: #1a1a1a;
	}
