@charset "UTF-8";

	#modDiv {
		width: 400px;
		background-color: #79d1ff;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -150px;
		padding: 10px;
		z-index: 1000;
		border-radius: 20px;
		font-family: "sbaggro","nucleo-icons";
    	font-weight: lighter;
	}
	